<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1">
    <header>
      <h2>Lüftungsanlage</h2>
        <div class="widget-toolbar" role="menu">
          Aktualisiert {{date}}
        <div>
    </header>
    <div>
      <div class="jarviswidget-editbox">
        <input class="form-control" type="text">
      </div>
      <div class="widget-body no-padding">
        <div class="row">
          {{#each temperatures}}
          <div class="col-sm-4 col-md-2 {{css_class}} text-center">
              <h3 class="margin-bottom-0">
                {{current_value_str}} <i class="fa fa-caret-{{tendency}}" style="color: {{color}}"></i>
              <br>
              <small class="font-xs"><sup style="top: 0em;">
                <span class="badge" style="background-color: {{color}}">
                  {{title}}
                </span>
              </sup></small>
            </h3>
          </div>
          {{/each}}
        </div>

        <hr class="margin-5">

        <div id="helioschart" class="chart"></div>

      </div>
    </div>
  </div>
</article>

